#singleObjectives .singleObjectivesWrapper{
      display: flex;
      background-color: var(--white);
      border-radius: 12px;
      padding: 20px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
}
#singleObjectives .singleObjectivesWrapper .leftside p{
      margin-bottom: 0px;
      font-size: 20px;
      font-weight: 500;
}
#singleObjectives .singleObjectivesWrapper .rightside p{
      margin-bottom: 0px;
      font-size: 16px;
}