#inputbox{
      width: 100%;
      background-color: var(--background);
      border-radius: 12px;
      padding: 10px 20px;
}
#inputbox input{
      width: 100%;
      border: none;
      outline: none;
      background-color: transparent;
      font-size: 14px;
}