#dashboard{
      flex: 1;
}
#dashboard .row{
      margin-left: 0px;
      margin-right: 0px;
}
#dashboard .main-content{
      height: calc(100vh - 80px);
      overflow-y: auto;
}
.main-dashboard{
      padding: 4% 5%;
}